<div class="font-grid" aria-hidden="true">
  <div class="letter-box">
    <div class="letter">
      Aa
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Bb
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Cc
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Dd
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ee
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ff
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Gg
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Hh
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ii
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Jj
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Kk
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ll
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Mm
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Nn
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Oo
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Pp
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Qq
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Rr
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ss
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Tt
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Uu
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Vv
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Ww
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Xx
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Yy
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="letter-box">
    <div class="letter">
      Zz
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="last">
    <slot />
  </div>
</div>

<style>
  .font-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: "Mason", var(--font-sans);
    gap: var(--space-8);
  }

  .letter-box {
    font-size: 9.6rem;
    aspect-ratio: 1 / 1;
    line-height: 1;
    border-radius: var(--radius-default);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--a-darker);
    color: hsl(var(--b) 80%);
    overflow: hidden;
  }

  .letter {
    position: relative;
    z-index: 1;
  }

  .line {
    position: absolute;
    width: 600%;
    height: 1px;
    border-bottom: 1px dashed hsl(var(--a) 80%);
    left: -200%;
    z-index: -1;
  }
  .line:nth-of-type(1) {
    bottom: 2ex;
  }
  .line:nth-of-type(2) {
    bottom: 1.5ex;
  }
  .line:nth-of-type(3) {
    bottom: 0.48ex;
  }
  .line:nth-of-type(4) {
    bottom: 0.1ex;
  }

  .last {
    grid-column: span 2;
  }
</style>
