---
import type { LanguageSelectionType } from "../../utils/types";
import type { Project } from "../../data/projects";
import SingleProject from "./SingleProject.astro";

interface Props {
  projects: Project[];
  language: LanguageSelectionType;
}

const { projects, language: lang } = Astro.props;
const isEn = lang === "en";
---

<div class="projects-section mid-col">
  <ul class="list-container ignore-grid">
    {
      projects.map((project, index) => {
        if (index > 4) return;
        return <SingleProject project={project} isEn={isEn} />;
      })
    }
  </ul>
</div>

<style>
  .projects-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--side-padding);
    padding-top: var(--space-32);
    gap: var(--space-32);
    row-gap: var(--space-128);
  }
</style>
