---
import type { LanguageSelectionType, Link } from "../../utils/types";
import type { Project } from "../../data/projects";
import SingleProject from "./SingleProject.astro";

interface Props {
  projects: Project[];
  language: LanguageSelectionType;
  link: Link;
}

const { projects, language: lang, link } = Astro.props;
const isEn = lang === "en";
---

<div class="projects-section mid-col">
  <div class="header-container">
    <div class="icon-container">
      <link.icon size="100%" weight="duotone" />
    </div>
    <hgroup class="header">
      <p class="heading">{link.heading}</p>
      <h2 class="subheading">{link.subheading}</h2>
    </hgroup>
    <p class="description">
      <slot />
    </p>
  </div>

  <ul class="list-container ignore-grid">
    {
      projects.map((project, index) => {
        if (index > 13) return;
        return <SingleProject project={project} isEn={isEn} />;
      })
    }
  </ul>
</div>

<style>
  .projects-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--side-padding);
    gap: var(--space-32);
  }

  .header-container {
    grid-column: span 6;
  }

  .icon-container {
    max-width: 10rem;
    aspect-ratio: 1/1;
    color: hsl(var(--a) 25%);
    background-color: hsl(var(--a) 87%);
    line-height: 1;
    padding: var(--space-12);
    border-radius: var(--radius-default);
  }
</style>
