---
import type { LanguageSelectionType, Link } from "../../utils/types";
import type { Project } from "../../data/projects";
import SingleProject from "./SingleProject.astro";

interface Props {
  projects: Project[];
  language: LanguageSelectionType;
  link: Link;
}

const { projects, language: lang, link } = Astro.props;
const isEn = lang === "en";
---

<div class="projects-section mid-col">
  <div class="header-container">
    <div class="header-fill">
      <hgroup class="header">
        <div class="icon-container">
          <link.icon size="100%" weight="regular" />
        </div>
        <p class="heading">
          <span>01</span><span>{link.heading}</span>
        </p>
        <h2 class="subheading">{link.subheading}</h2>
      </hgroup>
      <div class="description">
        <slot />
      </div>
      <div class="rounder--left"><div class="rounder__box--left"></div></div>
      <div class="rounder--right"><div class="rounder__box--right"></div></div>
    </div>
  </div>

  <ul class="list-container ignore-grid">
    <li>test</li>
    {
      projects.map((project, index) => {
        if (index > 13) return;
        return <SingleProject project={project} isEn={isEn} />;
      })
    }
  </ul>
</div>

<style>
  .projects-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--side-padding);
    gap: var(--space-32);
  }

  .header-container {
    grid-column: span 6;
    background: hsl(var(--a) 63%);
    position: relative;
    border-bottom-right-radius: var(--radius-xxl);
    border-bottom-left-radius: var(--radius-xxl);
    padding: var(--space-96);
  }

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .icon-container {
    height: var(--space-80);
    aspect-ratio: 1/1;
    color: #fff;
    background: var(--darker);
    line-height: 1;
    padding: var(--space-12);
    border-radius: var(--radius-s);
    grid-column: 3 / 4;
    justify-self: end;
  }

  .heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-transform: uppercase;
    font-weight: 600;
    color: hsl(var(--b) 62%);
  }

  .heading span:first-child {
    display: block;
    font-size: var(--font-5);
    color: var(--white-a);
    font-weight: 700;
  }

  .heading span:last-child {
    letter-spacing: 0.8rem;
  }

  .subheading {
    color: var(--white-a);
    font-size: var(--font-3);
    grid-column: 1 / -1;
    margin-top: var(--space-24);
    margin-bottom: var(--space-48);
  }

  .description {
    color: var(--white-a);
    hyphens: auto;
    text-align: justify;
  }

  .rounder--left,
  .rounder--right {
    position: absolute;
    width: var(--radius-xxl);
    height: var(--radius-xxl);
    background: hsl(var(--a) 63%);
    top: 0;
    z-index: -1;
  }

  .rounder--left {
    left: 0;
    transform: translateX(-100%);
  }
  .rounder--right {
    right: 0;
    transform: translateX(100%);
  }

  .rounder__box--left,
  .rounder__box--right {
    width: 100%;
    height: 100%;
    background: var(--white-a);
  }

  .rounder__box--left {
    border-top-right-radius: var(--radius-xxl);
  }
  .rounder__box--right {
    border-top-left-radius: var(--radius-xxl);
  }
</style>
