---
import type { Tech } from "@utils/technologies.astro";

interface Props {
  tech: Tech;
  size: "large" | "medium" | "small";
}

const { tech, size } = Astro.props;
---

<li class={size}>
  <tech.icon size="2.5ex" className="tech__icon" title={tech.name} />
  {tech.name}
</li>

<style define:vars={{ bg: tech.bg, color: tech.color }}>
  li {
    border-radius: var(--radius-xs);
    display: flex;
    justify-content: center;
    font-size: var(--font-small);
    align-items: center;
    gap: var(--space-8);
    font-family: var(--font-sans);
    padding: 1ex 1.4ex;
    font-weight: 500;
    cursor: cursor;
    color: var(--color);
    background: var(--bg);
    position: relative;
  }

  .medium {
    font-size: var(--font-xs);
  }

  .small {
    font-size: var(--font-xxs);
    gap: 0.6rem;
  }

  .tech__icon {
    color: currentColor;
  }
</style>
