---
import type { LanguageSelectionType } from "@utils/types";
import { Star } from "phosphor-react";
import EducationAwardItem from "./EducationAwardItem.astro";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;

export interface AwardType {
  title: string;
  year: string;
  desc: string;
}

const awards: { pl: AwardType[]; en: AwardType[] } = {
  pl: [
    {
      title: "Najlepszy absolwent Uniwersytetu",
      year: "2021/2022",
      desc: "Nagroda Rektora Uniwersytetu Kazimierza Wielkiego dla Najlepszego Absolwenta roku akademickiego 2021/2022 za działalność pozanaukową.",
    },
    {
      title: "Najlepszy absolwent i student Kolegium II",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II UKW dla najlepszego absolwenta i studenta roku akademickiego 2021/2022 za bardzo dobre wyniki w nauce i działalność pozanaukową.",
    },
    {
      title: "Najlepsza praca magisterska",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II Uniwersytetu Kazimierza Wielkiego za najlepszą pracę magisterską na kierunku psychologia w roku akademickim 2021/2022.",
    },
    {
      title: "Stypendium za osiągnięcia naukowe",
      year: "2018/2022",
      desc: "Stypendium Rektora Uniwersytetu Kazimierza Wielkiego za osiągnięcia naukowe. Stypendium otrzymywałem przez 4 lata od 2018 roku.",
    },
  ],
  en: [
    {
      title: "Award for the best graduate of the University",
      year: "2021/2022",
      desc: "Award of the Rector of the Kazimierz Wielki University for the Best Graduate of the academic year 2021/2022 for non-scientific activity.",
    },
    {
      title: "Award for the best graduate and student",
      year: "2021/2022",
      desc: "Award of the Council of Kolegium II of the UKW for the best graduate and student of the academic year 2021/2022 for very good academic results and non-scientific activities.",
    },
    {
      title: "Award for the best master's thesis",
      year: "2021/2022",
      desc: "Award of the Council of the Kolegium II of the Kazimierz Wielki University for the best master's thesis in the field of psychology in the academic year 2021/2022.",
    },
    {
      title: "Scholarship for scientific achievements",
      year: "2018/2022",
      desc: "Scholarship of the Rector of the Kazimierz Wielki University for scientific achievements, received for 4 years from 2018.",
    },
  ],
};
---

<section class="section mid-col">
  <div class="header">
    <div class="icon-container">
      <Star weight="duotone" size="100%" className="icon" />
    </div>
    <h3 class="heading">
      {lang === "pl" && "Nagrody i wyróżnienia"}
      {lang === "en" && "Academic awards"}
    </h3>
  </div>

  <ul class="list">
    {
      awards[lang].map((award, index) => (
        <EducationAwardItem award={award} index={index} />
      ))
    }
  </ul>
</section>

<style>
  .section {
    margin-top: var(--space-192);
    display: grid;
    padding: 0 var(--side-padding);
    grid-template-columns: repeat(4, 1fr);
  }

  .header {
    display: flex;
    align-items: center;
    color: var(--c4);
    grid-column: span 4;
    margin-bottom: var(--space-80);
    gap: var(--space-24);
  }

  .heading {
    font-size: var(--font-4);
  }

  .list {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-32);
  }

  .icon-container {
    padding: var(--space-12);
    width: 7rem;
    line-height: 1;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-small);
    color: var(--c4);
    border: var(--border-width) solid var(--c2medium);
  }

  @media only screen and (max-width: 78.5em /* 1256px */) {
    .list {
      max-width: 90rem;
      justify-self: center;
      grid-template-columns: repeat(2, 1fr);
    }

    .section {
      margin-top: var(--space-96);
    }
  }

  @media only screen and (max-width: 62.5em /* 1000px */) {
    .section {
      margin-top: var(--space-64);
    }
  }

  @media only screen and (max-width: 32.25em /* 516px */) {
    .list {
      grid-template-columns: 1fr;
      max-width: 57rem;
    }

    .heading {
      font-size: var(--font-5);
    }

    .header {
      margin-bottom: var(--space-48);
    }
  }
</style>
