---
import type { LanguageSelectionType } from "@utils/types";
import EducationAwardItem from "./EducationAwardItem.astro";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;

export interface AwardType {
  title: string;
  year: string;
  desc: string;
}

const awards: { pl: AwardType[]; en: AwardType[] } = {
  pl: [
    {
      title: "Najlepszy absolwent",
      year: "2021/2022",
      desc: "Nagroda Rektora Uniwersytetu Kazimierza Wielkiego dla Najlepszego Absolwenta roku akademickiego 2021/2022 za działalność pozanaukową.",
    },
    {
      title: "Najlepszy absolwent i student",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II UKW dla najlepszego absolwenta i studenta roku akademickiego 2021/2022 w Kolegium II za bardzo dobre wyniki w nauce i działalność pozanaukową.",
    },
    {
      title: "Najlepsza praca magisterska",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II UKW za najlepszą pracę magisterską na kierunku psychologia w roku akademickim 2021/2022.",
    },
    {
      title: "Stypendium za osiągnięcia naukowe",
      year: "2018/2022",
      desc: "4-letnie stypendium Rektora Uniwersytetu Kazimierza Wielkiego za osiągnięcia naukowe.",
    },
  ],
  en: [
    {
      title: "Najlepszy absolwent",
      year: "2021/2022",
      desc: "Nagroda Rektora Uniwersytetu Kazimierza Wielkiego dla Najlepszego Absolwenta roku akademickiego 2021/2022 za działalność pozanaukową.",
    },
    {
      title: "Najlepszy absolwent i student",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II UKW dla najlepszego absolwenta i studenta roku akademickiego 2021/2022 w Kolegium II za bardzo dobre wyniki w nauce i działalność pozanaukową.",
    },
    {
      title: "Najlepsza praca magisterska",
      year: "2021/2022",
      desc: "Wyróżnienie Rady Kolegium II UKW za najlepszą pracę magisterską na kierunku psychologia w roku akademickim 2021/2022.",
    },
  ],
};
---

<section class="section mid-col">
  <hgroup class="header">
    <!-- <div class="header__icon-container">
      <Trophy weight="duotone" size="100%" className="header__icon" />
    </div> -->
    <h3 class="heading">Nagrody i&nbsp;wyróżnienia</h3>
  </hgroup>

  <ul class="list">
    {
      awards[lang].map((award, index) => (
        <EducationAwardItem award={award} index={index} />
      ))
    }
  </ul>
</section>

<style>
  .section {
    margin-top: var(--space-64);
    display: grid;
    padding: 0 var(--side-padding);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-32);
  }

  .header {
    display: flex;
    align-items: center;
    color: var(--white-a);
    padding: var(--space-32);
    border: var(--border-width) solid var(--a-darker);
    border-radius: var(--radius-default);
  }

  /* .header__icon-container {
    max-width: 9.6rem;
    padding: var(--space-16);
    background: var(--a-darker);
    border-radius: var(--radius-default);
    aspect-ratio: 1 / 1;
  } */

  .heading {
    font-size: var(--font-4);
    text-align: center;
  }

  .list {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-32);
  }
</style>
