---
import type { LanguageSelectionType } from "@utils/types";
import { courses } from "@data/courses.astro";
import CourseItem from "./CourseItem.astro";
import { Books } from "phosphor-react";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;
---

<section class="mid-col">
  <hgroup>
    <div class="icon-container">
      <Books size="100%" weight="duotone" className="icon" />
    </div>
    <h3><slot /></h3>
  </hgroup>
  <ol>
    {courses.map((course) => <CourseItem course={course} lang={lang} />)}
  </ol>
</section>

<style>
  section {
    margin: 0 calc(var(--side-padding) / 2);
  }

  h3 {
    font-size: var(--font-4);
    color: var(--c8);
  }

  hgroup {
    margin-bottom: var(--space-80);
    display: flex;
    align-items: center;
    gap: var(--space-24);
    padding: 0 calc(var(--side-padding) / 2);
  }

  .icon-container {
    padding: var(--space-12);
    width: 7rem;
    line-height: 1;
    aspect-ratio: 1 / 1;
    background: var(--c8);
    color: var(--white);
    border-radius: var(--radius-small);
  }

  ol {
    display: grid;
    grid-template-columns: min-content 1fr repeat(4, max-content);
  }
</style>
