---
import type { LanguageSelectionType } from "@utils/types";
import { courses } from "@data/courses.astro";
import CourseItem from "./CourseItem.astro";
import { Books } from "phosphor-react";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;
---

<section class="mid-col">
  <div class="header">
    <div class="icon-container">
      <Books size="100%" weight="duotone" className="icon" />
    </div>
    <h3><slot /></h3>
  </div>
  <ol>
    {courses.map((course) => <CourseItem course={course} lang={lang} />)}
  </ol>
</section>

<style>
  h3 {
    font-size: var(--font-4);
    color: var(--c8);
  }

  .header {
    margin-bottom: var(--space-80);
    display: flex;
    align-items: center;
    gap: var(--space-24);
    padding: 0 var(--side-padding);
  }

  .icon-container {
    padding: var(--space-12);
    width: 7rem;
    line-height: 1;
    aspect-ratio: 1 / 1;
    border: var(--border-width) solid var(--c8light);
    color: var(--c8);
    border-radius: var(--radius-small);
  }

  ol {
    display: grid;
    grid-template-columns: min-content 1fr repeat(4, max-content);
  }

  @media only screen and (max-width: 71em /* 1136px */) {
    .header {
      margin-bottom: var(--space-48);
    }

    ol {
      grid-template-columns: min-content 1fr max-content min-content repeat(
          2,
          max-content
        );
    }
  }

  @media only screen and (max-width: 45.5em /* 728px */) {
    section {
      padding: 0 var(--side-padding);
      display: grid;
      grid-template-columns: 1fr;
    }

    ol {
      grid-template-columns: 1fr 1fr;
      justify-self: center;
      gap: var(--side-padding);
    }

    .header {
      padding: 0;
    }
  }

  @media only screen and (max-width: 32.25em /* 516px */) {
    section {
      max-width: 62rem;
      margin: 0 auto;
    }

    ol {
      grid-template-columns: 1fr;
    }

    h3 {
      font-size: var(--font-5);
    }
  }
</style>
