---
import { skills } from "../../data/skills.astro";
import Skill from "./Skill.astro";
---

<div class="list-container" id="tech-list">
  <ol class="list" id="tech-list">
    {skills.advanced.map((item) => <Skill tech={item} type="advanced" />)}
    {skills.good.map((item) => <Skill tech={item} type="good" />)}
    {skills.basic.map((item) => <Skill tech={item} type="basic" />)}
    {skills.other.map((item) => <Skill tech={item} type="other" />)}
  </ol>
</div>

<style>
  .list-container {
    align-self: start;
    padding: var(--space-96);
    padding-top: 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: var(--space-8);
  }
</style>

<style is:global>
  #tech-name {
    width: 100%;
    height: 20px;
  }
</style>
