---
import type { Tech } from "../../utils/technologies.astro";
import type { SizeType } from "../../utils/types";

interface Props {
  tech: Tech;
  size?: SizeType;
}

const { tech, size = "medium" } = Astro.props;
---

<li class={`skill skill--${size}`}>
  <figure class="skill__figure">
    <div class="skill__icon-container">
      <tech.icon className="skill__icon" size="100%" title={tech.name} />
    </div>
    <figcaption class="skill__caption">
      {tech.name}
    </figcaption>
  </figure>
</li>

<style define:vars={{ "icon-color": tech.color, "icon-bg": tech.bg }}>
  .skill--large {
    max-width: var(--space-192);
  }
  .skill--medium {
    max-width: var(--space-144);
  }
  .skill--small {
    max-width: var(--space-128);
  }

  .skill__figure {
    --radius: var(--radius-default);
    --gap: var(--space-12);

    display: grid;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      var(--gray-15),
      transparent
    );
    border-radius: var(--radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    gap: var(--gap);
  }
  .skill--medium .skill__figure {
    --gap: var(--space-8);
  }

  .skill__icon-container {
    background-color: var(--icon-bg);
    display: grid;
    place-content: center;
    padding: 25%;
    border-radius: var(--radius);
  }

  .skill__icon {
    color: var(--icon-color);
  }

  .skill__caption {
    font-size: var(--font-6);
    font-weight: var(--font-bold);
    line-height: var(--line-tight);
    color: var(--gray-3);
    text-align: center;
    padding-bottom: var(--gap);
  }
  .skill--medium .skill__caption {
    font-size: var(--font-large);
  }
  .skill--small .skill__caption {
    font-size: var(--font-base);
  }
</style>
