---
import type { Tech } from "../../utils/technologies.astro";

export type SkillLevelType = "advanced" | "good" | "basic" | "other";

interface Props {
  tech: Tech;
  type: SkillLevelType;
}

const { tech, type } = Astro.props;
---

<li class="ignore-grid">
  <figure class="ignore-grid">
    <div class={`skill skill--${type}`}>
      <div class="skill__figure">
        <div class="skill__icon-container">
          <tech.icon className="skill__icon" size="100%" title={tech.name} />
        </div>
      </div>
    </div>
    <figcaption class="skill__name">
      {tech.name}
    </figcaption>
  </figure>
</li>

<style define:vars={{ "icon-color": tech.color, "icon-bg": tech.bg }}>
  .skill {
    padding: var(--space-4);
    border-radius: calc(var(--radius-default) + var(--space-4));
  }
  .skill--advanced {
    background: var(--white-a);
  }
  .skill--good {
    background: var(--b-full);
  }
  .skill--basic,
  .skill--other {
    background: var(--a-darker);
  }

  .skill__figure {
    --radius: var(--radius-default);
    --gap: var(--space-12);

    display: grid;
    border-radius: var(--radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    gap: var(--gap);
  }

  .skill__icon-container {
    background-color: var(--a-darker);
    display: grid;
    place-content: center;
    padding: 25%;
    border-radius: var(--radius);
    transition: background-color 0.5s;
  }
  .skill:hover .skill__icon-container {
    background-color: var(--icon-bg);
  }

  .skill__icon {
    color: var(--white-a);
    transition: color 0.5s;
  }
  .skill:hover .skill__icon {
    color: var(--icon-color);
  }

  .skill__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    color: var(--white-a);
    font-size: var(--font-6);
    letter-spacing: var(--letter-spacing-4);
    font-weight: 800;
    margin-bottom: var(--space-16);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .skill:hover + .skill__name {
    opacity: 1;
  }
</style>
