---
import type { LanguageSelectionType, SizeType } from "../../utils/types";
import { skills } from "../../data/skills.astro";
import SkillList from "./SkillList.astro";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;

const skillGroups = [
  {
    text: {
      en: "Advanced",
      pl: "Poziom zaawansowany",
    },
    bg: "var(--gray-14)",
    size: "large",
    row: "1 / 2",
    skills: skills.advanced,
  },
  {
    text: {
      en: "Good",
      pl: "Poziom średniozaawansowany",
    },
    bg: "var(--gray-13)",
    size: "medium",
    row: "2 / 3",
    skills: skills.good,
  },
  {
    text: {
      en: "Basic",
      pl: "Poziom podstawowy",
    },
    bg: "var(--gray-12)",
    size: "small",
    row: "3 / 4",
    skills: skills.basic,
  },
  {
    text: {
      en: "Tools",
      pl: "Narzędzia",
    },
    bg: "var(--gray-14)",
    size: "small",
    row: "4 / 5",
    skills: skills.other,
  },
];
---

<div class="skills-container mid-col">
  {
    skillGroups.map((group) => (
      <SkillList
        skills={group.skills}
        size={group.size as SizeType}
        gridRow={group.row}
        bg={group.bg}>
        {group.text[lang]}
      </SkillList>
    ))
  }
</div>

<style>
  .skills-container {
    padding: 0 var(--side-padding);
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: var(--space-64);
  }
</style>
