---
interface Props {
  bgTop: string;
  bgBottom: string;
  reflect?: boolean;
}

const { bgTop, bgBottom, reflect = false } = Astro.props;
---

<div class="wave-container">
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 1920 192"
    preserveAspectRatio="none"
    style="enable-background:new 0 0 1920 192;"
    xml:space="preserve">
    {
      !reflect && (
        <path
          class="st0"
          fill={bgTop}
          d="M0,192c19.7-29,48.3-59.1,89.1-72.6c56.1-18.5,88.5,9.9,158.9-2.7c66.3-11.9,59.4-41.1,115.1-52.1
	c107.9-21.3,164,82.2,252.1,53.4c53.1-17.4,49.7-60.6,105.5-69.9c53.3-8.8,69.7,28.6,135.6,31.5c73.1,3.3,77.8-41.6,147.9-43.8
	c92.9-3,117.4,74.5,205.5,64.4c58.3-6.7,55.2-41.5,112.3-47.9c95-10.8,129.8,82.4,212.3,68.5c63.6-10.7,65-69.8,131.5-75.3
	c59.3-5,81.8,40,138.4,35.6c50.4-3.9,89.3-44,115.9-81.1H0V192z"
        />
      )
    }
    {
      reflect && (
        <path
          class="st0"
          fill={bgTop}
          d="M1920.1,0L0,0c26.6,37.1,65.5,77.2,115.9,81.1c56.6,4.4,79.1-40.6,138.4-35.6c66.5,5.5,67.9,64.6,131.5,75.3
    c82.5,13.9,117.3-79.3,212.3-68.5c57.1,6.4,54,41.2,112.3,47.9c88.1,10.1,112.6-67.4,205.5-64.4c70.1,2.2,74.8,47.1,147.9,43.8
    c65.9-2.9,82.3-40.3,135.6-31.5c55.8,9.3,52.4,52.5,105.5,69.9c88.1,28.8,144.2-74.7,252.1-53.4c55.7,11,48.8,40.2,115.1,52.1
    c70.4,12.6,102.8-15.8,158.9,2.7c40.8,13.5,69.4,43.6,89.1,72.6V0z"
        />
      )
    }
  </svg>
</div>

<style define:vars={{ bgBottom }}>
  .wave-container {
    grid-column: 1 / -1;
    height: var(--space-192);
    background: var(--bgBottom);
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .wave-container svg {
    width: 100%;
    min-width: 1050px;
    height: 100%;
  }

  @media only screen and (max-width: 62.5em /* 1000px */) {
    .wave-container {
      margin-bottom: calc(var(--space-48) * -1);
    }
  }

  @media only screen and (max-width: 32.25em /* 516px */) {
    .wave-container {
      margin-bottom: calc(var(--space-48) * -1);
      height: var(--space-144);
    }
  }
</style>
