<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Frontend developer, psychologist, certified personal trainer, and music production enthusiast."
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Page not found | Dawid Le Hai</title>

    <style>
      body {
        display: grid;
        grid-template-columns:
          1fr [start] minmax(min-content, var(--width-default))
          [end] 1fr;
        grid-template-rows: 1fr min-content 1fr;
        justify-items: center;

        background: linear-gradient(to bottom, #c3dbd5, #f3e1ca 20rem);
        height: 100dvh;
        font-family: sans-serif;
      }

      h1 {
        align-self: end;
        font-weight: 900;
        font-size: 4rem;
        color: #de6a20;
        margin: 0;
      }

      h2 {
        font-size: 2rem;
        color: #782208;
      }

      p {
        color: #007050;
      }

      a:is(:link, :visited) {
        text-decoration: none;
        color: #de6a20;
      }
    </style>
  </head>

  <body>
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>
      We couldn't find that link. Check the address or <a href={Astro.site}
        >head back home</a
      >.
    </p>
  </body>
</html>
