---
import type { Links } from "../utils/types";
import { getAge } from "../utils/utils.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";

const language = "pl";
const ageInYears = getAge();

const anchorLinks: Links = new Map([
  ["Projekty", "#projekty"],
  ["Technologie", "#technologie"],
  ["Kursy", "#kursy"],
  ["Wykształcenie", "#wyksztalcenie"],
  ["Badania naukowe", "#badania"],
  ["Muzyka", "#muzyka"],
]);
---

<Layout
  language={language}
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <Header
    language={language}
    links={anchorLinks}
    cta={{ text: "Zatrudnij mnie", url: "#praca" }}
  />

  <main class="mid-col">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatum
    quibusdam voluptatibus quod itaque praesentium eos minus architecto ut quo
    possimus exercitationem adipisci iste, vel excepturi rerum ex dolore.
    Doloribus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
    alias consequuntur tempore, enim, commodi dolores libero perspiciatis
    tempora velit assumenda dolor quisquam cupiditate vitae eius, atque vero!
    Molestiae, numquam? Optio?
  </main>
</Layout>

<style></style>
