---
import Layout from "../layouts/Layout.astro";

const birthDate = +new Date(import.meta.env.BIRTH_DATE);
const currentDate = +new Date();

const ageInMilliseconds = currentDate - birthDate;
const ageInYears = Math.trunc(ageInMilliseconds / 1000 / 60 / 60 / 24 / 365);
---

<Layout
  language="pl"
  title="Dawid Le Hai – Programista frontendu"
  description={`${ageInYears}-letni programista frontendu, psycholog, certyfikowany trener personalny, a także entuzjasta tworzenia muzyki.`}>
  <main class="mid-col">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatum
    quibusdam voluptatibus quod itaque praesentium eos minus architecto ut quo
    possimus exercitationem adipisci iste, vel excepturi rerum ex dolore.
    Doloribus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
    alias consequuntur tempore, enim, commodi dolores libero perspiciatis
    tempora velit assumenda dolor quisquam cupiditate vitae eius, atque vero!
    Molestiae, numquam? Optio?
  </main>
</Layout>

<style></style>
