---
import { getCollection } from "astro:content";

import type { LanguageSelectionType } from "@utils/types";
import ResearchItem from "./ResearchItem.astro";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;

const researchList = await getCollection("research", ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<ul class="list mid-col">
  <div class="masonry">
    <ResearchItem item={researchList[0]!} />
    <ResearchItem item={researchList[3]!} />
  </div>
  <div class="masonry">
    <ResearchItem item={researchList[1]!} />
    <ResearchItem item={researchList[5]!} />
  </div>
  <div class="masonry">
    <ResearchItem item={researchList[2]!} />
    <ResearchItem item={researchList[4]!} />
  </div>
</ul>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 var(--side-padding);
    gap: var(--space-32);
  }

  .masonry {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--space-32);
  }
</style>
