---
import { getCollection } from "astro:content";

import type { LanguageSelectionType } from "@utils/types";
import ResearchItem from "./ResearchItem.astro";
import { FileSearch } from "phosphor-react";

interface Props {
  lang: LanguageSelectionType;
}

const { lang } = Astro.props;

const researchList = await getCollection("research", ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<section class="mid-col">
  <hgroup>
    <div class="icon-container">
      <FileSearch weight="duotone" size="100%" className="icon" />
    </div>
    <h3>Działalność naukowa</h3>
  </hgroup>

  <ul class="list">
    <div class="masonry">
      <ResearchItem item={researchList[0]!} />
      <ResearchItem item={researchList[3]!} />
    </div>
    <div class="masonry">
      <ResearchItem item={researchList[1]!} />
      <ResearchItem item={researchList[5]!} />
    </div>
    <div class="masonry">
      <ResearchItem item={researchList[2]!} />
      <ResearchItem item={researchList[4]!} />
    </div>
  </ul>
</section>

<style>
  section {
    margin-top: var(--space-192);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 0 var(--side-padding);
    gap: var(--space-32);
  }

  hgroup {
    display: flex;
    align-items: center;
    color: var(--white-a);
    margin-bottom: var(--space-80);
    gap: var(--space-24);
    padding: 0 var(--side-padding);
  }

  h3 {
    font-size: var(--font-4);
    color: var(--white-a);
  }

  .masonry {
    display: flex;
    flex-direction: column;
    gap: var(--space-32);
  }

  .icon-container {
    padding: var(--space-12);
    width: 7rem;
    line-height: 1;
    aspect-ratio: 1 / 1;
    background: var(--a-darker);
    border-radius: var(--radius-small);
  }
</style>
