---
import * as tech from "@utils/technologies.astro";
import TechIcon from "./projects/TechIcon.astro";
---

<footer class="mid-col">
  <p>Created with</p>
  <ul>
    <TechIcon tech={tech.SiAstro} size="large" />
    <TechIcon tech={tech.TS} size="large" />
    <TechIcon tech={tech.CSS} size="large" />
    <TechIcon tech={tech.HTML} size="large" />
  </ul>
</footer>

<style>
  footer {
    margin-top: var(--space-256);
    padding: 0 var(--side-padding);
    display: flex;
    color: var(--white-a);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-12);
    margin-bottom: calc(var(--side-padding) * 2);
  }

  footer p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
  }

  ul {
    display: flex;
  }
</style>
