---
interface Props {
  linkUrl: string;
  linkText: string;
  children: any;
}

const { linkUrl: url, linkText: text } = Astro.props;
---

<div class="title mid-col">
  <h1>Dawid Le Hai</h1>
  <p>
    <slot />
  </p>
  <a href={url} class="button">{text}</a>
</div>

<style>
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--space-128) var(--side-padding);
    color: hsl(var(--a) 25%);
    --text-color: var(--gray-2);
  }

  .title h1 {
    position: relative;
    line-height: var(--line-tight);
    margin-bottom: var(--space-8);
    font-size: var(--font-1);
    font-weight: 1000;
    letter-spacing: var(--letter-spacing-1);
  }

  .title p {
    font-size: var(--font-6);
    max-width: 40ch;
    text-align: center;
    /* font-style: italic; */
    margin-bottom: var(--space-32);
    color: hsl(var(--a) 22%);
  }

  .button {
    background-color: hsl(var(--b) 67%);
    color: hsl(var(--b) 15%);
    font-size: var(--font-large);
  }
</style>
