---
import type { Caption } from "../utils/types";

interface Props {
  captions: Caption[];
}

const { captions } = Astro.props;
---

<div class="figures">
  {
    captions.map((caption) => (
      <figure class="ignore-grid">
        <figcaption>
          <p>{caption.subtitle}</p>
          <h3>{caption.title}</h3>
        </figcaption>
        <div class="figure-image-container">
          <div class="figure-image">
            <img
              src={`/figures/${caption.img.filename}`}
              alt={caption.img.alt}
            />
          </div>
        </div>
        <div class="filler" />
      </figure>
    ))
  }
</div>

<style>
  .figures {
    padding-top: 7.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr;
    gap: var(--side-padding);
    align-items: start;
  }

  .filler {
    grid-row: 2 / 3;
    border-radius: var(--radius-default);
    width: 100%;
    align-self: stretch;
    background: rgb(var(--black) / 0.1);
  }

  figure:nth-child(1) :is(.figure-image-container, .filler) {
    grid-column: 1 / 2;
  }
  figure:nth-child(2) :is(.figure-image-container, .filler) {
    grid-column: 2 / 3;
  }
  figure:nth-child(3) :is(.figure-image-container, .filler) {
    grid-column: 3 / 4;
  }
  figure:nth-child(4) :is(.figure-image-container, .filler) {
    grid-column: 4 / 5;
  }

  figure:nth-child(1) .figure-image {
    /* margin-top: 10%; */
  }
  figure:nth-child(2) .figure-image {
    margin-top: 33.333%;
  }
  figure:nth-child(3) .figure-image {
    margin-top: 33.333%;
    align-self: center;
  }
  figure:nth-child(4) .figure-image {
    align-self: end;
  }

  figcaption {
    align-self: end;
  }

  figcaption h3 {
    font-size: var(--font-5);
    font-weight: 700;
    color: hsl(var(--a) 25%);
    letter-spacing: var(--letter-spacing-4);
    line-height: var(--line-tight);
    display: grid;
  }

  figcaption p {
    font-size: var(--font-small);
    text-transform: uppercase;
    color: hsl(var(--a) 25%);
    font-weight: 500;
    margin: 0;
  }

  .figure-image-container {
    grid-row: 2 / 3;
    width: 100%;
    display: grid;
    align-self: stretch;
  }

  .figure-image {
    width: 100%;
    aspect-ratio: 3/4;
    background-color: var(--gray-11);
    border-radius: var(--radius-default);
    position: relative;
    overflow: hidden;
  }

  .figure-image img {
    width: 100%;
    aspect-ratio: 3/4;
  }
</style>
