<div>
  <figure>
    <figcaption>Programista <span>frontendu.</span></figcaption>
    <div class="figure-image"></div>
  </figure>
  <figure>
    <figcaption>Psycholog.</figcaption>
    <div class="figure-image"></div>
  </figure>
  <figure>
    <figcaption>Trener <span>personalny.</span></figcaption>
    <div class="figure-image"></div>
  </figure>
  <figure>
    <figcaption>Producent <span>muzyczny.</span></figcaption>
    <div class="figure-image"></div>
  </figure>
</div>
