---
import { Star } from "phosphor-react";
import type { Link } from "../utils/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<nav class="top-nav">
  <ul>
    {
      links.map((link, index) => {
        if (index === links.length - 1)
          return (
            <li>
              <a href={link.url} class="button">
                <span class="button__text">{link.heading}</span>
                <span class="button__icon-container">
                  <span class="button__icon-fill">
                    <Star weight="fill" className="button__icon" size="65%" />
                  </span>
                </span>
              </a>
            </li>
          );
        return (
          <li>
            <a href={link.url}>{link.heading}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style is:global>
  .mobile .top-nav {
    display: none;
    position: absolute;
    right: var(--side-padding);
    top: 100%;
    z-index: 999;
  }
  .mobile .top-nav ul {
    flex-direction: column;
    border-radius: var(--radius-default);
    border-top-right-radius: 0;
    background: rgb(var(--whiteRGB) / 0.9);
    padding: var(--space-16);
    backdrop-filter: blur(4px);
    align-items: stretch;
  }
  .mobile .top-nav ul a:where(:link, :visited) {
    width: 100%;
  }

  .top-nav ul {
    display: flex;
    gap: var(--gap);
    align-items: stretch;
    height: 100%;
  }

  .top-nav li {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  nav.top-nav a:is(:link, :visited) {
    color: var(--c2dark);
    display: flex;
    align-items: center;
  }

  .top-nav a.button {
    color: var(--c6dark);
    font-size: var(--font-normal);
  }

  .top-nav .button__icon-container {
    background: var(--c6);
  }
</style>
