---
import { Star } from "phosphor-react";
import type { Link } from "../utils/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<nav>
  <ul>
    {
      links.map((link, index) => {
        if (index === links.length - 1)
          return (
            <li>
              <a href={link.url} class="button">
                <span class="button__text">{link.heading}</span>
                <span class="button__icon-container">
                  <span class="button__icon-fill">
                    <Star
                      weight="fill"
                      className="button__icon"
                      size="var(--icon-size)"
                    />
                  </span>
                </span>
              </a>
            </li>
          );
        return (
          <li>
            <a href={link.url}>{link.heading}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: var(--gap);
    align-items: stretch;
    height: 100%;
  }

  li {
    height: 100%;
    display: flex;
    align-items: stretch;
  }

  a:is(:link, :visited) {
    color: var(--c2dark);
    display: flex;
    align-items: center;
  }

  a.button {
    color: var(--c6dark);
    font-size: var(--font-normal);
  }

  .button__icon-container {
    background: var(--c6);
  }
</style>
