---
import type { Links, Link } from "../utils/types";

interface Props {
  links: Links;
}

const { links } = Astro.props;

let linksArr: Link[] = [];
links.forEach((value, key) => linksArr.push({ text: key, url: value }));
---

<nav>
  <ul>
    {
      linksArr.map((link) => (
        <li>
          <a href={link.url}>{link.text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: var(--gap);
    align-items: center;
  }
</style>
