---
import type { Links } from "../utils/types";

interface Props {
  links: Links;
}

const { links } = Astro.props;
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url}>{link.text}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
    gap: var(--gap);
    align-items: center;
  }

  a:is(:link, :visited) {
    color: var(--link-color);
    font-weight: var(--weight);
  }
</style>
