---
import type { Icon } from "phosphor-react";

interface Props {
  id: string;
  children: any;
  icon: Icon;
}

const { id, icon: SectionIcon } = Astro.props;
---

<div class="container mid-col" id={id}>
  <hgroup>
    <div class="icon-container">
      <SectionIcon size="100%" weight="duotone" />
    </div>
    <h2><slot /></h2>
  </hgroup>
</div>

<style>
  .container {
    padding: 0 var(--side-padding);
    margin-top: var(--space-192);
    margin-bottom: var(--space-128);
    display: flex;
    justify-content: start;
    align-items: center;
  }

  hgroup {
    display: flex;
    align-items: center;
    gap: var(--space-32);
  }

  h2 {
    color: var(--font-dark);
  }

  .icon-container {
    max-width: 10rem;
    aspect-ratio: 1/1;
    color: var(--font-dark);
    background-color: hsl(var(--a) 87%);
    line-height: 1;
    padding: var(--space-12);
    border-radius: var(--radius-default);
  }
</style>
